#
# first we have the core requirements
# i.e. libraries used for running 
# code in the notebooks per se
#
calysto_bash

numpy
pandas
matplotlib
seaborn

ipythontutor
nbautoeval

#
# jupyter basics
#
jupyterlab
# does not work, need to 
# pip install --pre notebook
#notebook >= 7.0
jupytext

# jlab extensions
# xxx wait for jlab4-ready version
#jupyterlab-jupytext
git+https://github.com/mwouts/jupyterlab-jupytext.git@jupyterlab4
#jupyterlab-myst
jupyterlab-myst
ipywidgets >= 8.0

jupyterlab-courselevels
