# first we have the core requirements
# i.e. libraries used for running 
# code in the notebooks per se
#
jupyter
jupytext
calysto_bash

numpy
pandas
matplotlib
seaborn

ipythontutor
nbautoeval
nb-courselevels

# jupyter extensions
#
jupyter-contrib-nbextensions

# jlab extensions
jupyterlab
# xxx wait for jlab4-ready version
#jupyterlab-myst
#jupyterlab-jupytext
#ipywidgets
jupyterlab-courselevels
