#
# first we have the core requirements
# i.e. libraries used for running
# code in the notebooks per se
#
calysto_bash

numpy
pandas
matplotlib
seaborn

ipythontutor
nbautoeval

#
# jupyter basics
#
jupyterlab
notebook
# this also imports jupyterlab-myst
jupyterlab-courselevels
# jupytext
/Users/tparment/git/jupytext/dist/jupytext-1.15.0.dev1-py3-none-any.whl

ipywidgets >= 8.0
ipympl
